<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title></title>
</head>
<body>
<div class="row">
    <p th:text="#{chg.customer.sign.up.error}"></p>
    <p th:text="${error}">test error</p>
    <p th:text="#{refresh.error}"></p>
</div>
</body>
</html>





<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="ISO-8859-1"/>-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/baseBeforeLogin :: header">-->
    <!--<h1>This is the header for home</h1>-->
<!--</div>-->
<!--<p th:text="#{chg.customer.sign.up.error}"></p>-->
<!--<p th:text="${error}">test error</p>-->
<!--<div th:replace="fragments/baseBeforeLogin :: footer">-->
    <!--&copy; This is the footer for home-->
<!--</div>-->
<!--</body>-->
<!--</html>-->