<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title></title>
</head>
<body>
<div th:replace="fragments/base :: header">
    <h1>This is the header for home</h1>
</div>
<p th:text="#{chg.owner.sign.up}"></p>

<form action="#" th:action="@{/saveNewChargeOwner}" th:object="${chgOwnerUser}" method="post" onsubmit="return checkForm(this);">
    <div>
        <h4 th:text="#{chg.owner.title}">test title</h4>
        <select th:field="*{title}">
            <option th:each="title : ${titleList}"
                    th:value="${title.name}"
                    th:text="${title.name}">
                Test title
            </option>
        </select>
    </div>
    <div>
        <h4 th:text="#{chg.owner.gender}">test gender</h4>
        <select th:field="*{gender}">
            <option th:each="gender : ${genderList}"
                    th:value="${gender.name}"
                    th:text="${gender.name}">
                Test gender
            </option>
        </select>
    </div>
    <div>
        <h4 th:text="#{chg.owner.first.name}">first name</h4>
        <input type="text" id="firstName" name="firstName" value="" th:field="*{firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:text="#{chg.owner.first.name.not.empty}">Test First Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.last.name}">last name</h4>
        <input type="text" id="lastName" name="lastName" value="" th:field="*{lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:text="#{chg.owner.last.name.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.address}">address</h4>
        <input type="text" id="address" name="address" value="" th:field="*{address}"/>
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:text="#{chg.owner.address.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.country}">country</h4>
        <input type="text" id="country" name="country" value="" th:field="*{country}"/>
        <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" th:text="#{chg.owner.country.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.email}">test email</h4>
        <input type="text" id="email" name="email" value="" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:text="#{chg.owner.email.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.username}">test user name</h4>
        <input type="text" id="userName" name="userName" value="" th:field="*{userName}"/>
        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" th:text="#{chg.owner.userName.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.password}">test password</h4>
        <input type="password" id="password" name="password" value="" th:field="*{password}"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:text="#{chg.owner.password.not.empty}">Test First Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.verify.password}">test verify password</h4>
        <input type="password" id="verifyPassword" name="verifyPassword" value="" th:field="*{verifyPassword}"/>
        <span th:if="${#fields.hasErrors('verifyPassword')}" th:errors="*{verifyPassword}" th:text="#{chg.owner.verify.password.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.telephone}">test telephone</h4>
        <input type="text" id="telephone" name="telephone" value="" th:field="*{telephone}"/>
        <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" th:text="#{chg.owner.mobile.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.mobilephone}">test mobile</h4>
        <input type="text" id="mobileNo" name="mobileNo" value="" th:field="*{mobileNo}"/>
        <span th:if="${#fields.hasErrors('mobileNo')}" th:errors="*{mobileNo}" th:text="#{chg.owner.mobile.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.owner.organization.name}">test Organization Name</h4>
        <input type="text" id="organizationName" name="organizationName" value="" th:field="*{organizationName}"/>
    </div>
    <div>
        <input type="submit" value="Add test user" th:value="#{chg.owner.add.user}"/>
    </div>
    <div>
        <input type="hidden" name="chgOwnerId" value="" th:field="*{userId}"/>
    </div>
</form>
<div th:replace="fragments/base :: footer">
    &copy; This is the footer for home
</div>
</body>

<!--<script type="text/javascript">-->

  <!--function checkForm(form)-->
  <!--{-->
    <!--if(form.username.value == "") {-->
      <!--alert("Error: Username cannot be blank!");-->
      <!--form.username.focus();-->
      <!--return false;-->
    <!--}-->
    <!--re = /^\w+$/;-->
    <!--if(!re.test(form.username.value)) {-->
      <!--alert("Error: Username must contain only letters, numbers and underscores!");-->
      <!--form.username.focus();-->
      <!--return false;-->
    <!--}-->

    <!--if(form.pwd1.value != "" && form.pwd1.value == form.pwd2.value) {-->
      <!--if(form.pwd1.value.length < 6) {-->
        <!--alert("Error: Password must contain at least six characters!");-->
        <!--form.pwd1.focus();-->
        <!--return false;-->
      <!--}-->
      <!--if(form.pwd1.value == form.username.value) {-->
        <!--alert("Error: Password must be different from Username!");-->
        <!--form.pwd1.focus();-->
        <!--return false;-->
      <!--}-->
      <!--re = /[0-9]/;-->
      <!--if(!re.test(form.pwd1.value)) {-->
        <!--alert("Error: password must contain at least one number (0-9)!");-->
        <!--form.pwd1.focus();-->
        <!--return false;-->
      <!--}-->
      <!--re = /[a-z]/;-->
      <!--if(!re.test(form.pwd1.value)) {-->
        <!--alert("Error: password must contain at least one lowercase letter (a-z)!");-->
        <!--form.pwd1.focus();-->
        <!--return false;-->
      <!--}-->
      <!--re = /[A-Z]/;-->
      <!--if(!re.test(form.pwd1.value)) {-->
        <!--alert("Error: password must contain at least one uppercase letter (A-Z)!");-->
        <!--form.pwd1.focus();-->
        <!--return false;-->
      <!--}-->
    <!--} else {-->
      <!--alert("Error: Please check that you've entered and confirmed your password!");-->
      <!--form.pwd1.focus();-->
      <!--return false;-->
    <!--}-->

    <!--alert("You entered a valid password: " + form.pwd1.value);-->
    <!--return true;-->
  <!--}-->

<!--</script>-->

<script type="text/javascript">

  function checkForm(form)
  {
    if(form.password.value != form.verifyPassword.value)
    {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.pwd1.focus();
      return false;
    }
  }

</script>


</html>