<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title></title>
</head>
<body>
<div th:replace="fragments/base :: header">
    <h1>This is the header for home</h1>
</div>
<p th:text="#{all.charge.stations}"></p>
<div>
    <table border="1" >
        <tr>
            <th>Reference</th>
            <th>Location</th>
            <th>Power</th>
            <th>Max Charge Time</th>
            <th>Type</th>
            <th>Protocol</th>
            <th>Firmware Version</th>
            <th>Hardware Version</th>
            <th>Last Update Time</th>
            <th>Availability Status</th>
            <th>Power Status</th>
            <th>Owner Username</th>
            <th colspan="2">Action</th>
        </tr>
        <tr th:each="chgStation : ${chgStations}">
            <td th:text="${chgStation.reference}">Test Charge Station</td>
            <td th:text="${chgStation.chargeLocationBean}">Test Location</td>
            <td th:text="${chgStation.power}">2.41</td>
            <td th:text="${chgStation.maxChargeTime}">2.41</td>
            <td th:text="${chgStation.type}">Test Type</td>
            <td th:text="${chgStation.protocol}">Test Protocol</td>
            <td th:text="${chgStation.firmwareVersion}">Test Version</td>
            <td th:text="${chgStation.hardwareVersion}">Test Version</td>
            <td th:text="${chgStation.lastUpdateTimeStamp}">Test Date and Time</td>
            <td th:text="${chgStation.chargePointAvailabilityStatus}">Test Status</td>
            <td th:text="${chgStation.chargePointPowerStatus}">Test Status</td>
            <td th:text="${chgStation.userName}">Test Status</td>
            <!--<td th:text="${chgStation.inStock}? #{true} : #{false}">yes</td>-->
            <td >
                <a th:href="@{/chargeStation/editChargeStation.html(chgStationID=${chgStation.chargePointId})}">
                    EDIT
                </a>
            </td>
            <td >
                <a th:href="@{/chargeStation/deleteConfirmationChargeStation.html(chgStationID=${chgStation.chargePointId})}">
                    DELETE
                </a>
            </td>
        </tr>
    </table>
    <div>
        <p>
            <a th:href="@{/chargeStation/addChargeStation.html}">
                Add New Location
            </a>
        </p>
    </div>
</div>

<div th:replace="fragments/base :: footer">
    &copy; This is the footer for home
</div>
</body>
</html>