<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title></title>
</head>
<body>
<div th:replace="fragments/base :: header">
    <h1>This is the header for home</h1>
</div>
<span sec:authentication="principal.username"></span>
<p th:text="#{admin.login.success.msg}"></p>
<div>
    <a th:href="@{/ChgOwnerSignUp.html}" th:text="#{create.charge.owner}" >
        Test Create Owner
    </a>
</div>
<div>
    <a th:href="@{/ChgNetworkUserSignUp.html}" th:text="#{create.charge.network.user}" >
        Test Create Network User
    </a>
</div>
<div>
    <a th:href="@{/location/addLocation.html}" th:text="#{create.location}" >
        Test Create Location
    </a>
</div>
<div>
    <a th:href="@{/chargeStation/addChargeStation.html}" th:text="#{create.charge.station}">
        Test Add Charge Station
    </a>
</div>
<div>
    <a th:href="@{/chargeNetwork/addChargeNetwork.html}" th:text="#{create.charge.network}">
        Test Add Charge Station
    </a>
</div>
<div>
    <a th:href="@{/AllChargeStations.html}" th:text="#{view.all.charge.stations}">
        Test Add Charge Station
    </a>
</div>
<div>
    <a th:href="@{/AllLocations.html}" th:text="#{view.all.locations}" >
        Test Create Locations
    </a>
</div>
<div>
    <a th:href="@{/AllChargeNetworks.html}" th:text="#{view.all.networks}" >
        Test Create Locations
    </a>
</div>
<!--<div>-->
    <!--<a th:href="@{/OwnerSpecificChargeStations.html}" th:text="#{owner.charge.stations}" >-->
        <!--View All Charging Stations-->
    <!--</a>-->
<!--</div>-->
<div th:replace="fragments/base :: footer">
    &copy; This is the footer for home
</div>
</body>
</html>