<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title></title>
</head>
<body>
<div th:replace="fragments/baseBeforeLogin :: header">
    <h1>This is the header for home</h1>
</div>
<p th:text="#{chg.network.sign.up}"></p>

<form action="#" th:action="@{/saveNewChargeNetworkUser}" th:object="${chgNetworkUser}" method="post" onsubmit="return checkForm(this);>
    <div>
        <h4 th:text="#{chg.network.title}">test title</h4>
        <select th:field="*{title}">
            <option th:each="title : ${titleList}"
                    th:value="${title.name}"
                    th:text="${title.name}">
                Test title
            </option>
        </select>
    </div>
    <div>
        <h4 th:text="#{chg.network.gender}">test gender</h4>
        <select th:field="*{gender}">
            <option th:each="gender : ${genderList}"
                    th:value="${gender.name}"
                    th:text="${gender.name}">
                Test gender
            </option>
        </select>
    </div>
    <div>
        <h4 th:text="#{chg.network.first.name}">first name</h4>
        <input type="text" id="firstName" name="firstName" value="" th:field="*{firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:text="#{chg.owner.first.name.not.empty}">Test First Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.network.last.name}">last name</h4>
        <input type="text" id="lastName" name="lastName" value="" th:field="*{lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:text="#{chg.owner.last.name.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.network.address}">address</h4>
        <input type="text" id="address" name="address" value="" th:field="*{address}"/>
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:text="#{chg.owner.address.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.network.country}">country</h4>
        <input type="text" id="country" name="country" value="" th:field="*{country}"/>
        <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" th:text="#{chg.owner.country.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.network.email}">test email</h4>
        <input type="text" id="email" name="email" value="" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:text="#{chg.owner.email.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.network.username}">test user name</h4>
        <input type="text" id="userName" name="userName" value="" th:field="*{userName}"/>
        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" th:text="#{chg.owner.userName.not.empty}">Test Last Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.network.password}">test password</h4>
        <input type="password" id="password" name="password" value="" th:field="*{password}"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:text="#{chg.owner.password.not.empty}">Test First Name Error</span>
    </div>
    <div>
        <h4 th:text="#{chg.network.verify.password}">test verify password</h4>
        <input type="password" id="verifyPassword" name="verifyPassword" value="" th:field="*{verifyPassword}"/>
    </div>
    <div>
        <h4 th:text="#{chg.network.telephone}">test telephone</h4>
        <input type="text" id="telephone" name="telephone" value="" th:field="*{telephone}"/>
    </div>
    <div>
        <h4 th:text="#{chg.network.mobilephone}">test mobile</h4>
        <input type="text" id="mobileNo" name="mobileNo" value="" th:field="*{mobileNo}"/>
    </div>
    <div>
        <h4 th:text="#{chg.network.organization.name}">test Organization Name</h4>
        <input type="text" id="organizationName" name="organizationName" value="" th:field="*{organizationName}"/>
    </div>
    <div>
        <input type="submit" value="Add test user" th:value="#{chg.network.add.user}"/>
    </div>
    <div>
        <input type="hidden" name="chgNetworkUser" value="" th:field="*{userId}"/>
    </div>
</form>
<div th:replace="fragments/baseBeforeLogin :: footer">
    &copy; This is the footer for home
</div>
</body>

<script type="text/javascript">

  function checkForm(form)
  {
    if(form.password.value != form.verifyPassword.value)
    {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.pwd1.focus();
      return false;
    }
  }

</script>
</html>