<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title></title>
</head>
<body>
<div th:replace="fragments/base :: header">
    <h1>This is the header for home</h1>
</div>
<span sec:authentication="principal.username"></span>
<p th:text="#{network.login.success.msg}"></p>
<div>
    <a th:href="@{/AllNetworkOwnerSpecificTransaction.html}" th:text="#{chg.network.transactions}" >
        View All Transactions
    </a>
</div>
<div th:replace="fragments/base :: footer">
    &copy; This is the footer for home
</div>
</body>
</html>