<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title></title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
</head>
<body>
<div th:replace="fragments/base :: header">
    <h1>This is the header for home</h1>
</div>
<p th:text="${cusMsg}"></p>
<div>
    <div>
        <p>
            <a th:href="@{/ViewAllInActiveCustomers.html}">
                View All Inactive Customers
            </a>
        </p>
    </div>
    <div>
        <p>
            <a th:href="@{/ViewAllActiveCustomers.html}">
                View All Active Customers
            </a>
        </p>
    </div>
    <div>
        <p>
            <a th:href="@{/ViewAllCustomers.html}">
                View All Customers
            </a>
        </p>
    </div>
    <table border="1" >
        <tr>
            <th>Username</th>
            <th>Customer Status</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th>NFC Reference</th>
            <th>Available Points</th>
            <th>Created By</th>
            <th colspan="2">Action</th>
            <!--<th>Action</th>-->
        </tr>
        <tr th:each="Customer : ${Customers}">
            <td th:text="${Customer.userName}">Test Charge Location Name</td>
            <td th:text="${Customer.userStatus}">Test longitude</td>
            <td th:text="${Customer.createdTimeStamp}">Test latitude</td>
            <td th:text="${Customer.lastUpdateTimeStamp}">Test gpsLocation</td>
            <td th:text="${Customer.nfcRef}">Test gpsLocation</td>
            <td th:text="${Customer.customerPoints}">Test gpsLocation</td>
            <td th:text="${Customer.createdBy}">Test gpsLocation</td>
            <td >
                <a th:href="@{/user/chgCustomer/loadChgCustomer.html(userID=${Customer.userId})}">
                    VIEW
                </a>
            </td>
            <td >
                <a th:href="@{/user/chgCustomer/editChgCustomer.html(userID=${Customer.userId})}">
                    EDIT
                </a>
            </td>
            <!--<td >-->
                <!--<a th:href="@{/location/deleteConfirmationLocation.html(locationID=${location.locationId})}">-->
                    <!--DELETE-->
                <!--</a>-->
            <!--</td>-->
        </tr>
    </table>
</div>

<div th:replace="fragments/base :: footer">
    &copy; This is the footer for home
</div>
</body>

</html>