<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title></title>
</head>
<body>
<div th:replace="fragments/base :: header">
    <h1>This is the header for home</h1>
</div>
<p th:text="#{specific.user.all.charge.stations}"></p>
<div>
    <table border="1" >
        <tr>
            <th>Reference</th>
            <th>Location</th>
            <th>Power</th>
            <th>Type</th>
            <th>Protocol</th>
            <th>Version</th>
            <th>Last Update Time</th>
        </tr>
        <tr th:each="chgStation : ${chgStations}">
            <td th:text="${chgStation.reference}">
                <a href="../html/chargeStationDetail.html">
                    Test Charge Station
                </a>
            </td>
            <!--<td align="right" th:text="${chgStation.locationId}">2.41</td>-->
            <td th:text="${chgStation.chargeLocation.name}">Test Location</td>
            <td th:text="${chgStation.power}">2.41</td>
            <td th:text="${chgStation.type}">Test Type</td>
            <td th:text="${chgStation.protocol}">Test Protocol</td>
            <td th:text="${chgStation.version}">Test Version</td>
            <td th:text="${chgStation.lastUpdateTimeStamp}">Test Date and Time</td>
            <!--<td th:text="${chgStation.inStock}? #{true} : #{false}">yes</td>-->
        </tr>
    </table>
</div>

<div th:replace="fragments/base :: footer">
    &copy; This is the footer for home
</div>
</body>
</html>